body {
    background: rgb(228, 236, 245);
    padding: 20px;
}

boady * {
    color: hsla(210, 100%, 100%, 0.88) !important;
    background: hsla(210, 100%, 50%, 0.33) !important;
    outline: 0.25rem solid hsla(210, 100%, 100%, 0.50) !important;
}

article {

    display: grid;
    grid-template-columns: 1fr 0.5in [start] 1.23in [count] 5in [submitcol] 1.25in [end] 0.5in 1fr;
    grid-template-rows: [boom] 1fr 0.1in [submit] 0in [boomend];
    /* height: 100vh; */
    padding: 0.5in 0;

}

article * {
    background: white;
    grid-column: start / end;
    grid-row: boom / boomend;
    padding: 4vw;
    padding-top: 7vw;
    padding-bottom: 5vw;
    resize: none;
    border: none;
    font-family: 'Merriweather',
        serif;
    font-size: small;
}

:focus {
    outline: 0px;
}


nav {
    display: grid;
    grid-template-columns: 1fr [a] 1in [b] 1in [c] 1in [d] 1in [e] 1fr;
    grid-column: b / c;
    padding: 0.1in;
    z-index: 2;
    align-self: flex-start;
    text-align: left;
    margin: 0%;
    margin-top: 15vw;
}

nav button {
    grid-column: d / e ;
    padding: 6px 0px 6px 0px;
    margin: 2px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 6px;
    font-family: 'Inter', sans-serif;
    color: rgba(20, 63, 112, 0.9);
    font-weight: bold;
    border-radius: 3px;
    font-size: 8.5px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgb(199, 233, 255);
    border: 0.01px solid rgba(20, 63, 112, 0.05);
}

nav input {
    grid-column: a / d;
    padding: 6px 0px 6px 0px;
    margin: 2px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 6px;
    font-family: 'Inter', sans-serif;
    color: rgba(0, 0, 0, 0.9);
    border-radius: 3px;
    font-size: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 0.01px solid rgba(20, 63, 112, 0.05);
}
nav p {
    grid-column: a / d;
    padding: 0px;
    color: rgba(13, 47, 83, 0.5);
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: 15px;
    text-align: left;
    background-color: rgba(155, 155, 155, 0.0);
    margin: 0px
}

nav button:hover {
    color: rgba(20, 63, 112, 0.9);
    background-color: rgb(192, 226, 250);
}

article input{
    display: grid;
    grid-template-columns: 2.2vw [a] 1fr [b] 5in [c] 1fr [d] 0vw;
    padding: 0.1in;
    padding-left: 3.7vw;
    padding-top: 2vw;
    padding-bottom: 1.5vw;
    z-index: 3;
    align-self: start;
    border-bottom: 0.1px solid rgba(20, 63, 112, 0.1);
    background-color: rgba(238, 243, 245, 0.281);
    text-align: left;
    margin: 0%;
    font-weight: 500; 
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    text-transform: capitalize;

}


div {
    display: grid;
    grid-template-columns: 2.2vw [a] 1fr [b] 5in [c] 1fr [d] 0vw;
    padding: 0.1in;
    z-index: 2;
    align-self: end;
    border-top: 0.1px solid rgba(20, 63, 112, 0.1);
    background-color: rgba(238, 243, 245, 0.281);
    text-align: right;
    margin: 0%;
}

div button {
    grid-column: c / d;
    padding: 6px 0px 6px 0px;
    margin: 2px;
    margin-left: 26px;
    margin-right: 6px;
    font-family: 'Inter', sans-serif;
    color: rgba(20, 63, 112, 0.9);
    font-weight: bold;
    border-radius: 3px;
    font-size: 8.5px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgb(199, 233, 255);
    border: 0.01px solid rgba(20, 63, 112, 0.05);
}

div button:hover {
    color: rgba(20, 63, 112, 0.9);
    background-color: rgb(192, 226, 250);
}

div p {
    grid-column: a / b;
    padding: 0px;
    color: rgba(13, 47, 83, 0.5);
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: 9px;
    text-align: left;
    background-color: rgba(155, 155, 155, 0.0);
}

div p span {
    padding: 0px;
    padding-left: 2px;
    font-family: 'Inter', sans-serif;
    font-size: 9px;
}

@media (max-width: 8.5in) {
    article {
        grid-template-columns: 1fr 5% [start] 15% 60% [submitcol] 15% [end] 5% 1fr;
    }

    article * {
        padding: 0.3in;
        padding-top: 0.5in;
    }

    form {
        grid-row: boom;
        grid-column: submitcol / end;
        width: 0.001in;
        height: 0.01in;
        padding: 0%;
        padding-bottom: 2vw;
        z-index: 2;
        align-self: end;
    }

}

.disable-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by any browser but < IE9 */
}

#suggestionText {
    color: rgb(158, 188, 226);
    min-height: 5in;
    cursor: text;
    pointer-events: none;
    box-shadow: 0px 2px 2px 0.2px rgba(192, 192, 192, 0.52);
    border-radius: 2px;
    hyphens: auto;
}

#userText {
    color: black;
    min-height: 5in;
    background: transparent;
    opacity: 1;
    z-index: 2;
    border-radius: 2px;
    hyphens: auto;
}

.code-back {
    background: #000000;
    min-height: 5in;
    color: white;
    padding: 15px;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 2px;
}